# Data (large / licensed)
# Keep data/processed/
# but exclude raw ERA5 and the uncompressed CSV
data/raw/*
!data/raw/README.md
data/processed/era5_supervised_preprocessed.csv
*.nc

# Trained models
results/models/
*.joblib
*.pkl

# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/

# OS
.DS_Store
Thumbs.db